{% extends "home.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PetFect - About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About PetFect</h1>
    <br>
    <h4> PerFect is a website that matches shelter animals up with prospective owners. We are aiming to help shelters to upload, collect and share information as well as to help future owners to find their ideal pets with ease. 

        After you login, you can easily browse all the adoptable pets on our website. Click on the pet image, you can see detailed description of the chosen pet. Simply click on “contact us” to send an email to the shelter regarding adoption details and questions you might have. Then visit the shelter to bring your cutie home. 
        
        PetFect believes that “Animals are such agreeable friends. They ask no questions, they pass no criticisms.” We hopes to help more animals to find their sweet homes. 
    </h4>
    <br>
    <img class="center" src="static/website_logo.png" alt="..." width="200"/>
</div>
{% endblock %}