{% extends "home.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header">
    <h1>Create A New Animal Profile</h1>
</div>

<div class="col-md-4">
    <form method="POST" enctype = "multipart/form-data">
        {{ form.animal_type.label(class="form-label") }} 
        {{ form.animal_type(class="form-control")}} 
        <br/>
        {{ form.breeds.label(class="form-label") }} 
        {{ form.breeds(class="form-control")}}
        <br>
        {{form.disposition.label()}}
        {{form.disposition(class="form-check-input")}}
        {{ form.avail.label(class="form-label") }} 
        {{ form.avail(class="form-control")}}
        <br>
        {{form.image.label}}
        {{form.image}}
        <br>
        {{form.description.label(class="form-label") }} 
        {{form.description(class="form-control", rows = "3")}}
        <br>
         {{form.submit()}}
   </form> 
</div>

<br>
{% endblock %}

