{% extends "home.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PetFect - Animal{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Search by Criteria</h3><br>
    {{ wtf.quick_form(form1, button_map={'submit':'success'}) }}
    <br>
    {{ wtf.quick_form(form2, button_map={'submit':'success'}) }}
</div>
<section class="animal-list bg-light">
<div class="row">
   {% for animal in animals %}
        <div class="column">
            <img class="center crop" src="/{{animal.id}}"/>
        </div>
        <div class="column">
            <br>
            <br>
            <!-- Animal Info -->
            <h3>{{animal.name}}</h3>
            <div class="animal-caption-subheading text-muted">{{animal.type}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.breeds}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.data_created.date()}}</div>
            <br>
            <h5>Disposition</h5>
            {% if animal.good_with_animal == True %}
            <div class="animal-caption-subheading text-muted">Good with other animals</div>
            {% endif %}
            {% if animal.good_with_kid == True %}
            <div class="animal-caption-subheading text-muted">Good with children</div>
            {% endif %}
            {% if animal.leash_required == True %}
            <div class="animal-caption-subheading text-muted">Animal must be leashed at all times</div>
            {% endif %}
            <br>
            <br>
            <!-- Animal Detail Page Button -->
            <form method="get" action="/animal/{{ animal.id }}">
                <button class="btn btn-default bg-warning">Learn More</button>
            </form>
        </div>
    {% endfor %}
</div>
</section>
{% endblock %}