{% extends "home.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PetFect - About{% endblock %}

{% block page_content %}
<div class="contact">
    <div class="text-center">
       <h2 class="section-heading">Contact Us</h2>
       <h3 class="section-subheading text-muted">We love to hear from you.</h3>
    </div>
    {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>
    {% endif %}
    <form id="contactForm" action="{{ url_for('main.contact') }}" method=post>
       <div>
           {{ form.hidden_tag() }}
          <p>
             <!-- name forms -->
             {{ form.name.label }} <br>
             {{ form.name(placeholder='Your name') }}
          </p>
          <p>
             {{ form.email.label }} <br>
             {{ form.email(placeholder='Your e-mail ...') }}
          </p>
          <!-- Subject of your request -->
          <p>
             {{ form.subject.label }}<br>
             {{ form.subject(placeholder='Your subject ...') }}
          </p>
          <!-- Content of your request -->
          <p>
             {{ form.message.label }}<br>
             {{ form.message(placeholder='Tell us anything you want to say ...') }}
          </p>
          <p>
             {{ form.submit }}
          </p>
       </div>
    </form>
 </div>
 {% endblock %}