{% extends "home.html" %}

{% block title %}PetFect - Date{% endblock %}

{% block page_content %}
    {% if animal %}
        <h1>This is Date Page</h1>
        <h3>User {{ user.user_name }} want to schedule a date with {{ animal.name }}</h3>
        <br>
        <br>
        <div class="column">
            <img class="center crop" src="/{{animal.id}}"/>
        </div>
        <div class="column">
            <br>
            <br>
            <h3>{{animal.name}}</h3>
            <div class="animal-caption-subheading text-muted">{{animal.type}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.breeds}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.data_created.date()}}</div>
            <br>
            <h5>Disposition</h5>
            {% if animal.good_with_animal == True %}
            <div class="animal-caption-subheading text-muted">Good with other animals</div>
            {% endif %}
            {% if animal.good_with_kid == True %}
            <div class="animal-caption-subheading text-muted">Good with children</div>
            {% endif %}
            {% if animal.leash_required == True %}
            <div class="animal-caption-subheading text-muted">Animal must be leashed at all times</div>
            {% endif %}
            <br>
            <h5>Description</h5>
            <div class="animal-caption-subheading text-muted">{{animal.description}}</div>
            <br>
            <h5>Availability</h5>
            <div class="animal-caption-subheading text-muted">{{animal.availability}}</div>
        </div>
        <br>
        <!-- Like and Date button, still need action -->
        <a class="btn btn-danger">Send Request</a>
    {% endif %}
{% endblock %}