{% extends "home.html" %}

{% block title %}PetFect - Date{% endblock %}

{% block page_content %}
    {% if animal %}
        <h1>Hi {{ user.user_name }}</h1>
        <h3>please follow instruction to schedule a date with {{ animal.name }}</h3>
        <br>
        <br>
        <div class="column">
            <img class="center crop" src="/{{animal.id}}"/>
        </div>
        <div class="column">
            <br>
            <br>
            <h3>{{animal.name}}</h3>
            <div class="animal-caption-subheading text-muted">{{animal.type}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.breeds}}</div>
            <div class="animal-caption-subheading text-muted">{{animal.data_created.date()}}</div>
            <br>
            <h5>Disposition</h5>
            {% if animal.good_with_animal == True %}
            <div class="animal-caption-subheading text-muted">Good with other animals</div>
            {% endif %}
            {% if animal.good_with_kid == True %}
            <div class="animal-caption-subheading text-muted">Good with children</div>
            {% endif %}
            {% if animal.leash_required == True %}
            <div class="animal-caption-subheading text-muted">Animal must be leashed at all times</div>
            {% endif %}
            <br>
            <h5>Description</h5>
            <div class="animal-caption-subheading text-muted">{{animal.description}}</div>
            <br>
            <h5>Availability</h5>
            <div class="animal-caption-subheading text-muted">{{animal.availability}}</div>
            <br>
            <a class="btn btn-danger" href="{{ url_for('main.dated', user_id=current_user.id, animal_id=animal.id) }}">Date Scheduled</a>
            <br>
        <br>
        </div>

        <section>
            <div class="column">
            <h1>Instruction:</h1>
            <h4>Please send email to: {{ owner.email }}</h4>
            <h4>Subject: [PetFect] Schedule Date with {{ animal.name }}</h4>
            <h4>Body: introduce yourself and list all available time</h4>
            <h4>Signature: Your true name and contact methods</h4>
            <h5 style="color:indianred;">Send email out and click button</h5>
            </div>
        </section>

    {% endif %}
{% endblock %}