{% extends "home.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PetFect{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.user_name }}{% else %}Stranger{% endif %}!</h1>
</div>

<!-- Animals Grid-->
<section class="page-section bg-light" id="animal">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Get to know our cuties</h2>
            <h3 class="section-subheading text-muted">Click on images for details.</h3>
        </div>
        <div class="row">
            {% for new_animal in new_animals %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Animal items-->
                <div class="animal-item">
                    <a class="animal-link" data-bs-toggle="modal" href="#animalModal{{loop.index0}}">
                        <div class="animal-hover">
                            <div class="animal-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/{{new_animal.id}}" alt="..." width="300" height="300"/>
                    </a>
                    <div class="animal-caption">
                        <div class="animal-caption-heading">{{new_animal.name}}</div>
                        <div class="animal-caption-subheading text-muted">{{new_animal.type}}</div>
                        <div class="animal-caption-subheading text-muted">{{new_animal.breeds}}</div>
                        <div class="animal-caption-subheading text-muted">{{new_animal.data_created.strftime('%Y-%m-%d')}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--News-->
<section class="page-section" id="news">
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <h2 class="section-heading text-uppercase">News</h2>
            <h3 class="section-subheading text-muted">See what's new in PetFect.</h3>
        </div>
        <div class="row text-center">
            {% for news_item in news %}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"> {{news_item.title}}</h4>
                <h4 class="my-3"> {{news_item.date.strftime('%Y-%m-%d') }}</h4>
                <p class="text-muted">{{news_item.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Animal Modals-->
<!-- Animal item 1 modal popup-->
{% for new_animal in new_animals %}
<div class="animal-modal modal fade" id="animalModal{{loop.index0}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="static/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Animal details-->
                            <h2 class="text-uppercase">Animal Name</h2>
                            <p class="item-intro text-muted"> {{new_animal.name}}</p>
                            <img class="img-fluid d-block mx-auto" src="/{{new_animal.id}}" alt="..." width="300" height="300"/>
                            <ul class="list-group" style="list-style: none;">
                                <li>
                                    <strong>Name: {{new_animal.name}}</strong>
                                </li>
                                <li>
                                    <strong>Type: {{new_animal.type}} </strong>
                                </li>
                                <li>
                                    <strong>Breed: {{new_animal.breeds}}</strong>
                                </li>
                                <li>
                                    <strong>Good with animals: {{new_animal.good_with_animal}}</strong>
                                </li>
                                <li>
                                    <strong>Good with kids: {{new_animal.good_with_kid}}</strong>
                                </li>
                                <li>
                                    <strong>Leash required: {{new_animal.leash_required}}</strong>
                                </li>
                                <li>
                                    <strong>Availability: {{new_animal.availability}}</strong>
                                </li>
                                <li>
                                    <strong>Date created: {{new_animal.data_created.strftime('%Y-%m-%d')}}</strong>
                                </li>
                            </ul>
                            <p> Descriptions: {{new_animal.description}}. </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close animal
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
