{% extends "home.html" %}

{% block title %}PetFect - Edit Profile Admin{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Current list of animals</h1>
</div>
<table class="table table-hover table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Breed</th>
            <th scope="col">Good with other animals</th>
            <th scope="col">Good with children</th>
            <th scope="col">Must be leashed at all times</th>
            <th scope="col">Availability</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
          </tr>
    </thead>
{% for animal in animals %}
    <!-- Animal Info -->
    <tr>
        <td>
            {{animal.data_created.date()}}
        </td>
        <td>
            {{animal.name}}
        </td>
        <td>
            {{animal.type}}
        </td>
        <td>
            {{animal.breeds}}
        </td>
        <td>
            {% if animal.good_with_animal == True %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if animal.good_with_kid == True %}
                Yes
            {% endif %}
        </td>
        <td>
            {% if animal.leash_required == True %}
                Yes
            {% endif %} 
        </td>
        <td>
            {{animal.availability}}
        </td>
        <td>
            {{animal.description|truncate()}}
        </td>
        <td>
  
            <a href="{{ url_for('.update', id=animal.id)}}" class="btn btn-success active" role="button" aria-pressed="true">Update</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{animal.id}}">Delete</button>
            <div class="modal" id="deleteModal{{animal.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">Are you sure to delete this animal profile?</h5>
                    </div>
                    <div class="modal-footer">
                        <form action="{{url_for('.delete_animal', id=animal.id)}}" method = "POST">
                            <input class ="btn btn-danger" type ="submit" value="Yes">
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}

</table>

<br>
<a class="btn btn-primary" href="{{ url_for('.create_animal', id=admin_user.id) }}">Create new animal profile</a>


{% endblock %}