{% extends "home.html" %}

{% block title %}PetFect - {{ user.user_name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.user_name }}</h1>
    <br>
    <br>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>Member since {{ moment(user.member_since).format('L') }}.</p>
    <br>
    <br>
    <p>
        {% if current_user.is_user() %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        <a class="btn btn-danger" href="{{ url_for('.edit_animal_profile', id=user.id) }}">Manage Animals</a>
        <a class="btn btn-danger">Manage News</a>
        {% endif %}
    </p>
</div>
{% if current_user.is_user() %}
<div class="animal-item">
    <p>Normal User Animal list</p>
</div>
{% endif %}
{% if current_user.is_administrator() %}
<div class="animal-item">
    <p>Shelter Admin Animal list</p>
</div>
{% endif %}
{% endblock %}